


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');




.main-chi-tiet-film {
    font-family: 'Poppins', sans-serif;
}

.main-chi-tiet-film .bg1-chi-tiet-phim {
    padding-top: 90px;
}


.main-chi-tiet-film .bg1-chi-tiet-phim {
    background: black;
}

.main-chi-tiet-film .bg1-chi-tiet-phim .body-text {
    box-sizing: border-box;
    
}

.main-chi-tiet-film .borderName .mo-ta-chi-tiet-phim {
    /* border: 1px solid wheat; */
    color: wheat;
    padding: 30px 0px;
    /* border-radius: 40px 0 40px 0; */
    /* background:rgba(255, 115, 0, 0.632); */
}


.main-chi-tiet-film .bg1-chi-tiet-phim .body-text .body-text-chi-tiet-phim {
    display: flex;
    justify-content: center;
    align-items:center;
    min-width: 100vh;
    
}

.main-chi-tiet-film .bg1-chi-tiet-phim .body-text .body-text-chi-tiet-phim h1{
    /* margin-top: 10%;
    margin-left: -5%;
    position: relative; */
    color: #252839;
    /* -webkit-text-stroke: 0.5vw #383d52; */
    /* text-transform: uppercase; */
    font-family: 'Karantina';
}

.main-chi-tiet-film .bg1-chi-tiet-phim .body-text .body-text-chi-tiet-phim h1 {
    content: attr(data-text);
    /* position: absolute;
    top: 0;
    left: 10%; */
    width: 100%;
    height: 100%;
    color: wheat;
    -webkit-text-stroke: 0vw #383d52;
    /* border-right: 2px solid #01fe87; */
    overflow: hidden;
    /* animation: animate 6s linear infinite; */
    

}

.main-chi-tiet-film .mo-ta-chi-tiet-phim {
    /* margin-top: 35%;
    margin-left: 20%;
    color: wheat; */

}
.main-chi-tiet-film i {
    font-size: 30px;
}

@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .bg2-video  {
    position: relative;
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .bg2-video .quan-ly-rap {
    position:absolute;
    top: 0;
    left: 0;
    
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .selectAction select {
    padding: 10px 20px;
    /* margin: 0px 50px; */
    background: orange;
    color: black;
    /* font-weight: 800; */
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .selectAction {}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .quan-ly-rap .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 10%;
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .quan-ly-rap .thong-tin-dat-ve {
    margin-top: 5%;
    color:wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    
}

.main-chi-tiet-film .borderName {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-chi-tiet-film .bg2-video video {
    width: 100%;
    height: 40%;
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .quan-ly-rap .thong-tin-dat-ve .col-xl-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px 50px;
    background: rgba(0, 0, 0, 0.503);
    border: 1px solid wheat;
    transition: all 0.5s;
}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .quan-ly-rap .thong-tin-dat-ve .col-xl-4 i { 
    padding:10px 30px;

}

.main-chi-tiet-film .bg2-main-chi-tiet-phim .quan-ly-rap .thong-tin-dat-ve .col-xl-4:hover {
    background: rgba(245, 222, 179, 0.496);
    color: black;
}
@media (max-width:992px) {
    .main-chi-tiet-film .thong-tin-dat-ve {
        display: none;
        visibility: hidden;
    }
}

.bg2-main-chi-tiet-phim select {
    width: 100%;
    margin: 10px;
    border-radius: 40px;
}

.bg2-main-chi-tiet-phim .btnDatVe {
    padding: 20px 0;
    background: rgb(255, 68, 0);
    border: none;
    border-radius: 40px;
    transition: 0.5s;
}

.bg2-main-chi-tiet-phim .btnDatVe:hover {
    background: rgba(255, 68, 0, 0.659);
}

@media (max-width:768px) {

    .bg2-main-chi-tiet-phim h1{
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .bg2-main-chi-tiet-phim video {
        /* height: 80%; */
    }
    .bg2-main-chi-tiet-phim select {
        padding: 5px 10px;
        height: 20px;
        height: 40px;
        width: 80%;
    }

    .bg2-main-chi-tiet-phim .btnDatVe {
        width: 60%;
    }
}