.chon-rap-main .diaChiRap{
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    
}

.chon-rap-main .roww{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chon-rap-main .lichChieu {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.chon-rap-main {
    background: url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}